<footer class="footer">
  <div class="text-center">
    <a class="aboutLink" ui-sref="about">About</a>
    <a class="moreLink" ui-sref="more">More</a>
  </div>
  <div class="above-footer">
    Created By Sami Valimaki
  </div>
  <div class="text-center">
    <ul class="list">
      <li>
        <a target="_blank" title="follow me on facebook" href="http://www.facebook.com/SamValimaki"><img alt="" src="https://c866088.ssl.cf3.rackcdn.com/assets/facebook30x30.png" border=0></a>
      </li>
      <li>
          <a target="_blank" title="follow me on Twitter" href="http://www.twitter.com/SamiValimaki"><img alt="" src="https://c866088.ssl.cf3.rackcdn.com/assets/twitter30x30.png" border=0></a>
      </li>
      <li>
        <a target="_blank" title="follow me on instagram" href="http://www.instagram.com/samvalimaki"><img alt="" src="https://c866088.ssl.cf3.rackcdn.com/assets/instagram30x30.png" border=0></a>
      </li>
    </ul>
  </div>
</footer>
