<div class="col-sm-2 col-sm-2">
  <img class="swimages" src="./img/AFYoda.jpg">
  <img class="swimages" src="./img/AFVader.jpg">
  <img class="swimages" src="./img/AFLuke.jpg">
  <img class="swimages" src="./img/AFLeia.jpg">
</div>
<div class="col-sm-2 col-sm-2">
  <img class="swimages" src="./img/AFJyn.jpg">
  <img class="swimages" src="./img/AFRey.jpg">
  <img class="swimages" src="./img/AFBobaFett.jpg">
  <img class="swimages" src="./img/AFSoloChewy.jpg">
</div>
<div class="col-sm-2 col-sm-2">
  <img class="swimages" src="./img/1.jpg">
  <img class="swimages" src="./img/2.jpg">
  <img class="swimages" src="./img/3.jpg">
  <img class="swimages" src="./img/4.jpg">
</div>
<div class="col-sm-2 col-sm-2">
  <img class="swimages" src="./img/5.jpg">
  <img class="swimages" src="./img/6.jpg">
  <img class="swimages" src="./img/ls.jpg">
  <img class="swimages" src="./img/AFX-Wing.jpg">
</div>
